<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.qnaBoard.dao.qnaBoardMapper.xml">
<resultMap id="QnaBoardVO" type="QnaBoardVO"/>
<resultMap id="QnaBoardCommentVO" type="QnaBoardCommentVO"/>
	
	<select id="qnaBoardList" statementType="CALLABLE" parameterType="java.util.Map">
    { CALL qnaBoardList(
              #{start},
              #{end},
              #{qnaBoardList, mode=OUT, jdbcType=CURSOR, 
                javaType=java.sql.ResultSet, resultMap=QnaBoardVO}
           )
    }
	</select>
	
	<select id="qnaBoardCount" statementType="CALLABLE" parameterType="java.util.Map">
	{ CALL qnaBoardCount(
             #{who},
             #{no},
             #{m_id},
             #{page},
             #{count, mode=OUT,jdbcType=INTEGER,javaType=INTEGER}
           )
    }
	</select>

	<select id="qnaBoardContent" statementType="CALLABLE" parameterType="QnaBoardVO">
	{ CALL qnaBoardContent(
	          #{no, mode=INOUT,jdbcType=INTEGER,javaType=INTEGER},
	          #{m_id, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{name, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{subject, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{content, mode=OUT,jdbcType=CLOB,javaType=String},
	          #{regdate, mode=OUT,jdbcType=DATE,javaType=java.util.Date},
	          #{hit, mode=OUT,jdbcType=INTEGER,javaType=INTEGER},
	          #{count}
	       )
	}
	</select>
	
	<insert id="qnaBoardInsert" statementType="CALLABLE" parameterType="QnaBoardVO">
	{ CALL qnaBoardInsert(#{m_id}, #{name}, #{subject}, #{content}) }
	</insert>

<!-- 	
	/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
 
	<!-- // 답글 추가 -->
	<insert id="qnaBoardReplyInsert" statementType="CALLABLE" parameterType="QnaBoardVO">
	{ CALL qnaBoardReplyInsert(#{no}, #{m_id}, #{name}, #{subject}, #{content}, #{page}) }
	</insert>
		
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 게시판&답글 업데이트 -->
	<update id="qnaBoardUpdate" statementType="CALLABLE" parameterType="QnaBoardVO">
	 { CALL qnaBoardUpdate(#{no}, #{subject}, #{content}, #{page}) }
	</update>
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 답글 삭제 -->
	<delete id="qnaBoardDelete" statementType="CALLABLE" parameterType="int">
	{ CALL qnaBoardDelete(#{no}) }
	</delete>
	
	
	
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	
	<!-- // Content 댓글 리스트 -->
	<select id="qnaCommentList" statementType="CALLABLE" parameterType="java.util.Map">
	{ CALL qnaCommentList(
	         #{bno},
	         #{qnaCommentList, mode=OUT, jdbcType=CURSOR, 
                javaType=java.sql.ResultSet, resultMap=QnaBoardCommentVO}
	       )
	}
	</select>
    
    <insert id="qnaCommentInsert" statementType="CALLABLE" parameterType="QnaBoardCommentVO">
	{ CALL qnaCommentInsert(#{bno}, #{m_id}, #{name}, #{msg}, #{page}) }
	</insert>
	
 <!--    
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 리플 추가 -->
	
	<insert id="qnaCommentNewInsert" statementType="CALLABLE" parameterType="QnaBoardCommentVO">
	{ CALL qnaCommentNewInsert(#{no},#{bno}, #{m_id}, #{name}, #{msg}, #{page}) }
	</insert>


<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 게시판&답글 업데이트  -->
	<update id="qnaCommentUpdate" statementType="CALLABLE"  parameterType="QnaBoardCommentVO">
	{ CALL qnaCommentUpdate(#{no}, #{msg}) , #{page}}
	</update>
	
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // content 댓글삭제 -->
	<delete id="qnaCommentDelete" statementType="CALLABLE" parameterType="int">
	{ CALL qnaCommentDelete(#{no}) }
	</delete>
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<select id="qnaBoardViewList" statementType="CALLABLE" parameterType="java.util.Map">
    { CALL qnaBoardViewList(
              #{start},
              #{end},
              #{m_id},
              #{qnaBoardViewList, mode=OUT, jdbcType=CURSOR, 
                javaType=java.sql.ResultSet, resultMap=QnaBoardVO}
           )
    }
	</select>
	
	 
	<select id="qnaBoardCommentViewList" statementType="CALLABLE" parameterType="java.util.Map">
    { CALL qnaBoardCommentViewList(
              #{start},
              #{end},
              #{m_id},
              #{qnaBoardCommentViewList, mode=OUT, jdbcType=CURSOR, 
                javaType=java.sql.ResultSet, resultMap=QnaBoardCommentVO}
           )
    }
	</select>
	
	
	
</mapper>