<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.qnaBoard.dao.qnaBoardMapper.xml">
<resultMap id="QnaBoardVO" type="QnaBoardVO"/>
<resultMap id="QnaBoardCommentVO" type="QnaBoardCommentVO"/>
	
	<select id="qnaBoardList" statementType="CALLABLE" parameterType="java.util.Map">
    { CALL qnaBoardList(
              #{start},
              #{end},
              #{qnaBoardList, mode=OUT, jdbcType=CURSOR, 
                javaType=java.sql.ResultSet, resultMap=QnaBoardVO}
           )
    }
	</select>
	<!--qnaBoardCount  -->
	<select id="qnaBoardCount">
	 { CALL qnaBoardCount(
              #{who},
              #{no},
              #{count, mode=OUT,jdbcType=INTEGER,javaType=INTEGER}
           )
    }
	</select>
	
	<select id="qnaBoardToltalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM qnaBoard
	</select>
	
	<select id="qnaBoardRowCount" resultType="int">
		SELECT COUNT(*) FROM qnaBoard
	</select>
	
	<!-- 리플 카운트 -->
	<select id="qnaCommentCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM qnaBoardComment WHERE bno=#{no}
	</select> 


	<select id="qnaBoardContent" statementType="CALLABLE" parameterType="QnaBoardVO">
	{ CALL qnaBoardContent(
	          #{no, mode=INOUT,jdbcType=INTEGER,javaType=INTEGER},
	          #{m_id, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{name, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{subject, mode=OUT,jdbcType=VARCHAR,javaType=String},
	          #{content, mode=OUT,jdbcType=CLOB,javaType=String},
	          #{regdate, mode=OUT,jdbcType=DATE,javaType=java.util.Date},
	          #{hit, mode=OUT,jdbcType=INTEGER,javaType=INTEGER},
	          #{count}
	       )
	}
	</select>
	
	<insert id="qnaBoardInsert" statementType="CALLABLE" parameterType="QnaBoardVO">
	{ CALL qnaBoardInsert(#{no}, #{m_id}, #{name}, #{subject}, #{content}) }
	</insert>

<!-- 	
	/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
 
	<!-- // 답글 추가 -->
	<select id="qna_id_step_tab" resultType="QnaBoardVO" parameterType="int">
		SELECT group_id,group_step,group_tab FROM qnaBoard WHERE no=#{no}
	</select>

	<select id="qna_groupUpdate" parameterType="QnaBoardVO">
		UPDATE qnaBoard SET group_step=group_step+1 
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</select>	

	<insert id="qnaBoardReplyInsert" parameterType="QnaBoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM qnaBoard
		</selectKey>
		INSERT INTO qnaBoard(no,m_id,name,subject,content,regdate,hit,
		group_id,group_step,group_tab,root) 
		VALUES(#{no},#{m_id},#{name},#{subject},#{content},SYSDATE,0,
		#{group_id},#{group_step}+1,#{group_tab}+1,#{pno})
	</insert>	

	<update id="qna_depthUpdate" parameterType="int">
		UPDATE qnaBoard SET depth=depth+1 WHERE no=#{pno}
	</update>
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 게시판&답글 업데이트 -->
	<update id="qnaBoardUpdate" statementType="CALLABLE" parameterType="QnaBoardVO">
	 { CALL qnaBoardUpdate(
              #{no},
              #{subject},
              #{content}
           )
    }
	</update>
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 답글 삭제 -->
	<delete id="qnaBoardDelete" statementType="CALLABLE" parameterType="int">
	{ CALL qnaBoardDelete(#{no}) }
	</delete>
	
	
	
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	
	<!-- // Content 댓글 리스트 -->
	<select id="qnaCommentList" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT no,bno,m_id,name,msg,regdate,group_tab,num 
		FROM (SELECT no,bno,m_id,name,msg,regdate,group_tab,rownum as num 
		FROM (SELECT no,bno,m_id,name,msg,regdate,group_tab 
		FROM qnaBoardComment WHERE bno=#{bno} ORDER BY group_id ASC,group_step ASC)) 
	</select>
    
	<insert id="qnaCommentInsert" parameterType="QnaBoardCommentVO">
		 <selectKey keyProperty="no" resultType="int" order="BEFORE">
		 	SELECT NVL(MAX(no)+1,1) as no FROM qnaBoardComment
		 </selectKey>
		 INSERT INTO qnaBoardComment(no,bno,m_id,name,msg,regdate,group_id) 
		 VALUES(#{no},#{bno},#{m_id},#{name},#{msg},SYSDATE,
		 (SELECT NVL(MAX(group_id)+1,1) FROM qnaBoardComment))
	</insert>    
    
 <!--    
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 리플 추가 -->
	<select id="qnaComment_id_step_tab" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT group_id,group_step,group_tab FROM qnaBoardComment WHERE no=#{no}
	</select>
	
	<update id="qnaComment_groupUpdate" parameterType="QnaBoardCommentVO">
		UPDATE qnaBoardComment SET group_step=group_step+1 
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</update>
	
	<insert id="qnaCommentNewInsert" parameterType="QnaBoardCommentVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM qnaBoardComment
		</selectKey>
		INSERT INTO qnaBoardComment(no,bno,m_id,name,msg,regdate,group_id,group_step,group_tab,root) 
		VALUES(#{no},#{bno},#{m_id},#{name},#{msg},SYSDATE,
		#{group_id},#{group_step}+1,#{group_tab}+1,#{pno}) 
	</insert>

	<update id="qnaComment_depthUpdate" parameterType="int">
		UPDATE qnaBoardComment SET depth=depth+1 WHERE no=#{pno}
	</update>

<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 게시판&답글 업데이트  -->
	<update id="qnaCommentUpdate"  parameterType="QnaBoardCommentVO">
		UPDATE qnaBoardComment SET msg=#{msg} WHERE no=#{no}
	</update>
	
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // content 댓글삭제 -->
	<select id="qnaComment_root_depth" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT root,depth FROM qnaBoardComment WHERE no=#{no}
	</select>
	
	<delete id="qnaCommentDelete" parameterType="int">
		DELETE FROM qnaBoardComment WHERE no=#{no}
	</delete>
	
	<update id="qnaComment_delete_msg" parameterType="int">
		UPDATE qnaBoardComment SET msg='삭제된 게시물 입니다.' WHERE no=#{no}
	</update>

	<update id="qnaComment_delete_depth" parameterType="int">
		UPDATE qnaBoardComment SET depth=depth-1 WHERE no=#{root}
	</update>
	
	 
</mapper>