<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.qnaBoard.dao.qnaBoardMapper.xml">
	<select id="qnaBoardList" parameterType="java.util.Map" resultType="QnaBoardVO">
		SELECT no,M_id,subject,name,regdate,hit,group_tab,num 
		FROM (SELECT no,M_id,subject,name,regdate,hit,group_tab,rownum as num 
		FROM (SELECT no,M_id,subject,name,regdate,hit,group_tab
		FROM qnaBoard ORDER BY group_id DESC,group_step ASC)) 
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="qnaBoardToltalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM qnaBoard
	</select>
	
	<select id="qnaBoardRowCount" resultType="int">
		SELECT COUNT(*) FROM qnaBoard
	</select>

	<insert id="qnaBoardInsert" parameterType="QnaBoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM qnaBoard
		</selectKey>
		INSERT INTO qnaBoard(no,name,subject,content,pwd,regdate,hit,group_id) 
		VALUES(#{no},#{name},#{subject},#{content},
		#{pwd},SYSDATE,0,(SELECT NVL(MAX(group_id)+1,1) 
		FROM qnaBoard))
	</insert>
	
	<update id="qnaBoardHit" parameterType="int">
		UPDATE qnaBoard SET hit=hit+1 WHERE no=#{no}
	</update>

	<select id="qnaBoardContent" resultType="QnaBoardVO" parameterType="int">
		SELECT no,name,subject,content,regdate,hit FROM qnaBoard WHERE no=#{no}
	</select>



<!-- 	
	/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
 
	<!-- // 답글 추가 -->
	<select id="qna_id_step_tab" resultType="QnaBoardVO" parameterType="int">
		SELECT group_id,group_step,group_tab FROM qnaBoard WHERE no=#{no}
	</select>

	<select id="qna_groupUpdate" parameterType="QnaBoardVO">
		UPDATE qnaBoard SET group_step=group_step+1 
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</select>	

	<insert id="qnaBoardReplyInsert" parameterType="QnaBoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM qnaBoard
		</selectKey>
		INSERT INTO qnaBoard(no,name,subject,content,pwd,regdate,hit,
		group_id,group_step,group_tab,root) 
		VALUES(#{no},#{name},#{subject},#{content},#{pwd},SYSDATE,0,
		#{group_id},#{group_step}+1,#{group_tab}+1,#{pno})
	</insert>	

	<update id="qna_depthUpdate" parameterType="int">
		UPDATE qnaBoard SET depth=depth+1 WHERE no=#{pno}
	</update>
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////	
 -->	
	<!-- // 비밀번호 get -->
	<select id="qna_boardGetPwd" resultType="String" parameterType="int">
		SELECT pwd FROM qnaBoard WHERE no=#{no}
	</select>
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 게시판&답글 업데이트 --> 
	<update id="qnaBoardUpdate" parameterType="QnaBoardVO">
		UPDATE qnaBoard SET name=#{name},subject=#{subject},content=#{content} WHERE no=#{no}
	</update>
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // 답글 삭제 -->

	<select id="qna_pwd_root_depth" resultType="QnaBoardVO" parameterType="int">
		SELECT pwd,root,depth FROM qnaBoard WHERE no=#{no}
	</select>	
	
	<delete id="qnaBoardDelete" parameterType="int">
		DELETE FROM qnaBoard WHERE no=#{no}
	</delete>
	
	<delete id="qnaBoardDeleteComment" parameterType="int">
		DELETE FROM qnaBoardComment WHERE bno=#{no}
	</delete>

	<update id="qna_delete_msg" parameterType="int">
		UPDATE qnaBoard SET subject='삭제된 게시물 입니다.',content='삭제된 게시물 입니다.' WHERE no=#{no}
	</update>	

	<update id="qna_delete_depth" parameterType="int">
		UPDATE qnaBoard SET depth=depth-1 WHERE no=#{root}
	</update>


	
	
	
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<!-- 리플 카운트 -->
	<select id="qnaCommentCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM qnaBoardComment WHERE bno=#{no}
	</select> 
	
	
	<!-- // Content 댓글 리스트 -->
	<select id="qnaCommentList" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT no,bno,name,msg,pwd,regdate,group_tab,num 
		FROM (SELECT no,bno,name,msg,pwd,regdate,group_tab,rownum as num 
		FROM (SELECT no,bno,name,msg,pwd,regdate,group_tab 
		FROM qnaBoardComment WHERE bno=#{bno} ORDER BY group_id ASC,group_step ASC)) 
	</select>
    
	<insert id="qnaCommentInsert" parameterType="QnaBoardCommentVO">
		 <selectKey keyProperty="no" resultType="int" order="BEFORE">
		 	SELECT NVL(MAX(no)+1,1) as no FROM qnaBoardComment
		 </selectKey>
		 INSERT INTO qnaBoardComment(no,bno,name,msg,pwd,regdate,group_id) 
		 VALUES(#{no},#{bno},#{name},#{msg},#{pwd},SYSDATE,
		 (SELECT NVL(MAX(group_id)+1,1) FROM qnaBoardComment))
	</insert>    
    
 <!--    
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 리플 추가 -->
	<select id="qnaComment_id_step_tab" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT group_id,group_step,group_tab FROM qnaBoardComment WHERE no=#{no}
	</select>
	
	<update id="qnaComment_groupUpdate" parameterType="QnaBoardCommentVO">
		UPDATE qnaBoardComment SET group_step=group_step+1 
		WHERE group_id=#{group_id} AND group_step>#{group_step}
	</update>
	
	<insert id="qnaCommentNewInsert" parameterType="QnaBoardCommentVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM qnaBoardComment
		</selectKey>
		INSERT INTO qnaBoardComment(no,bno,name,msg,pwd,regdate,group_id,group_step,group_tab,root) 
		VALUES(#{no},#{bno},#{name},#{msg},#{pwd},SYSDATE,
		#{group_id},#{group_step}+1,#{group_tab}+1,#{pno}) 
	</insert>

	<update id="qnaComment_depthUpdate" parameterType="int">
		UPDATE qnaBoardComment SET depth=depth+1 WHERE no=#{pno}
	</update>

<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////	
 -->
	<!-- // content Reply 비밀번호 get -->
	<select id="qnaCommentGetPwd" resultType="String" parameterType="int">
		SELECT pwd FROM qnaBoardComment WHERE no=#{no}
	</select>
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->
	<!-- // content 게시판&답글 업데이트  -->
	<update id="qnaCommentUpdate"  parameterType="QnaBoardCommentVO">
		UPDATE qnaBoardComment SET name=#{name},msg=#{msg} WHERE no=#{no}
	</update>
	
	
<!-- 
	/////////////////////////////////////////////////////////////////////////////////////////////////////
 -->	
	<!-- // content 댓글삭제 -->
	<select id="qnaComment_pwd_root_depth" resultType="QnaBoardCommentVO" parameterType="int">
		SELECT pwd,root,depth FROM qnaBoardComment WHERE no=#{no}
	</select>
	
	<delete id="qnaCommentDelete" parameterType="int">
		DELETE FROM qnaBoardComment WHERE no=#{no}
	</delete>
	
	<update id="qnaComment_delete_msg" parameterType="int">
		UPDATE qnaBoardComment SET msg='삭제된 게시물 입니다.' WHERE no=#{no}
	</update>

	<update id="qnaComment_delete_depth" parameterType="int">
		UPDATE qnaBoardComment SET depth=depth-1 WHERE no=#{root}
	</update>
	
	 
</mapper>