<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.sist.qnaBoard.dao"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/sist/qnaBoard/dao/qnaBoardMapper.xml"/>
	</mappers>
</configuration>